.vh100{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .temperatura{
    width: 100%;
    height: 57vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h2{
    font-size: 15px;
}

.title {
    background: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    color: white;
}
ul{
    width: 8em;
    list-style: none;
    padding: 0;
}
.ulD{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
span{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}
.btn {
    width: 100%;
    height: 5vh;
}
@media(min-width: 800px){
    .temperatura {
        width: 50%;
        height: 80vh;
    }
    h2{
        font-size: 25px;
    }
    
    ul{
        width: 11em;
    }
    span{
        justify-content: space-between;
        align-items: center;
    }

}