.vh90{
  height:90vh;
}
 .box{
  padding: 25px;
  border: 1px solid #000;
  border-radius: 20px;
  background: rgba(0,0,0,0.6);
}
.flex-direction{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
a.btn.btn-secondary{
  width: 100%;
}
a.margin-top-2{
  margin-top: 2vh;
}
img.img-fluid.icons{
  width: 20px;
}
.flex-inline{
  display: inline-flex;
}
.margin-right-1{
  margin-right: 1vw;
}
